{%extends "layout.html" %}

{%block content%}

    <h2 class="text-center mb-4 text-muted">Convert JPEG,PNG to Text </h2>
    <br><br>
    <div class="container">
        <form action="/convertToText" method="post" enctype="multipart/form-data">
            <h6 class="text-center mb-4 text-muted">
                Upload image
              </h6>
            <input type="file" class="form-control" id="img" name="img" accept="image/*,.pdf" required>

            <div class="text-center col-12">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>

{%endblock content%}